rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Blog Posts
    match /blogPosts/{postId} {
      // Anyone can read published posts
      allow read: if resource.data.status == 'published';

      // Only admin can create, update, or delete blog posts
      allow create, update, delete: if request.auth != null && (request.auth.uid == 'dosd5t9yV4hhH5gu10pfpDao8xK2' || request.auth.token.admin == true);
    }

    // Default deny for all other collections and documents
    match /{document=**} {
      allow read, write: if false;
    }
  }
}